/* estilos_horarios.css */

body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor__horarios {
    text-align: center;
    margin: 20px;
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 40px rgba(255, 0, 255, 0.6);
    width: 80%;
    max-width: 500px;
    height: auto;
}

h2 {
    margin: 20px;
    color: #00ffff;
    font-size: 24px;
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    margin-bottom: 20px;
}

#horarios {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}



.time-slot {
    background-color: #3d3d3d;
    color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3), 0 0 20px rgba(255, 0, 255, 0.3);
    transition: all 0.3s ease;
    font-size: 18px;
}

.time-slot:hover {
    background-color: #00ffff;
    color: #1a1a1a;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 40px rgba(255, 0, 255, 0.6);
}
.time-slot{
    opacity: 0.8;
}

.time-slot.selected {
    background-color: red;
    color: white;
}

.time-slot.reservado {
    background-color: gray; /* Los horarios reservados se muestran en gris */
    color: white;
    pointer-events: none; /* Deshabilita la interacción con horarios reservados */
}





button, input {
    background-color: #ff00ff;
    color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    margin: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.6), 0 0 20px rgba(0, 255, 255, 0.6);
}

button:hover, input[type="button"]:hover{
    background-color: #00ffff;
    color: #1a1a1a;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.6), 0 0 40px rgba(255, 0, 255, 0.6);
}


